@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.scoreboard {
  text-align: center;
  @include page;

  &__title {
    margin-bottom: $size-default;
  }

  &__list {
    align-self: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    gap: $size-small;
    justify-content: space-between;
    padding: $size-small $size-default;
    border-bottom: $border-default;
    background-color: map-get($colors-secondary, background-neutral);
    @include display-flex;
    &:nth-child(odd) {
      background-color: map-get($colors-primary, background-accent);
    }
  }

  &__rank {
    font-weight: bold;
  }

  &__name {
    flex-grow: 1;
    text-align: left;
    color: map-get($text-colors, primary);
  }

  &__score {
    font-weight: bold;
  }

  &__error {
    color: map-get($colors-status, error);
    font-weight: bold;
  }
}
