@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.animal-selection {
  @include page;

  &__title {
    // margin-bottom: $size-default;
    @include h1;

    // @include tablet {
    //   margin-bottom: $size-default * 2;
    // }
  }

  &__subtitle {
    // margin-bottom: $size-small;
    @include h2;
  }

  .animal-cards-container {
    // display: grid;
    // grid-template-columns: 1fr;
    gap: $size-large;

    @include display-flex;

    // @include tablet {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @include desktop {
    //   grid-template-columns: repeat(5, 1fr);
    // }
  }

  .animal-dropdown {
    flex-direction: column;
    align-items: center;
    gap: $size-small;
    margin-bottom: $size-large;

    @include display-flex;

    @include tablet {
      max-width: 400px;
    }

    &__title {
      // font-size: $size-default * 1.5;
      margin-bottom: $size-small;
      // font-size: $size-default * 1.1;
      color: map-get($text-colors, primary);
    }
    .Dropdown-control {
      padding: $size-small $size-default * 2 $size-small $size-small;
    }
    .Dropdown-placeholder.is-selected {
      font-weight: bold;
      color: map-get($text-colors, primary);
      @include p1;
    }
    .Dropdown-arrow {
      top: $size-default * 1.25;
    }
  }

  .animal-card {
    flex-direction: column;
    align-items: center;
    margin-bottom: $size-small;

    @include display-flex;

    &__image {
      width: 150px;
      height: auto;
      object-fit: cover;
      margin-bottom: $size-small;
      border: $border-default;
      border-radius: $size-small;
    }
  }
}
