@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.animal-selection {
  flex-direction: column;
  align-items: center;
  gap: $size-small * 2;
  margin-top: $size-default * 2;

  @include display-flex;
  @include responsive-padding;

  &__title {
    @include h1;
    margin-bottom: $size-default;

    @include tablet {
      margin-bottom: $size-default * 2;
    }
  }

  &__subtitle {
    margin-bottom: $size-small;
    @include h2;
  }

  .animal-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $size-large;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .animal-dropdown {
    flex-direction: column;
    align-items: center;
    gap: $size-small;
    margin-bottom: $size-large;

    @include display-flex;

    &__title {
      // font-size: $size-default * 1.5;
      margin-bottom: $size-small;
      // font-size: $size-default * 1.1;
      color: map-get($text-colors, primary);
    }

    @include tablet {
      max-width: 400px;
    }
  }

  .animal-card {
    flex-direction: column;
    align-items: center;
    margin-bottom: $size-small;

    @include display-flex;

    &__image {
      width: 150px;
      height: auto;
      object-fit: cover;
      margin-bottom: $size-small;
      border: $border-default;
      border-radius: $size-small;
    }

    &__name {
      font-weight: bold;
      color: map-get($text-colors, primary);
      @include p1;
    }
  }
}
