@use "../../styles//partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navigation {
  // visibility: hidden;
  &__list {
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    gap: $size-default;
    @include display-flex;
    @include tablet {
      flex-direction: row;
    }
  }

  &__item {
    display: inline-block;
  }

  &__link {
    text-decoration: none;
    color: map-get($colors-primary, global-white);
    @include h2;

    &:hover {
      color: map-get($colors-primary, interactive-elements);
    }

    &--active {
      border-bottom: $border-default;
    }
  }

  // @include tablet {
  //   visibility: visible;
  // }
}
