@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  justify-content: space-between;
  align-items: center;
  padding: $size-large;
  background-color: rgba(255, 255, 227, 0.5);
  backdrop-filter: blur(8px);
  color: map-get($text-colors, primary);

  @include display-flex;
  &__logo {
    @include h1;
    font-weight: bold;
  }

}
