.fish-game {
  z-index: 10;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fish {
  font-size: 3rem;
  display: inline-block;
  &__icon {
    transform: scaleX(-1);
    display: inline-block;
  }
}

.letter {
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.fire-effect {
  display: none;
  position: absolute;
  font-size: 2rem;
  top: 0;
  left: 0;
  animation: fire-blaze 0.5s infinite;
}

@keyframes fire-blaze {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.bucket {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 0;
  left: 65%;
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
}
