@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  @include responsive-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-small * 2;
  margin-top: $size-default * 2;

  &__title {
    @include h1;
    margin-bottom: $size-default;

    @include tablet {
      margin-bottom: $size-default * 2;
    }
  }

  &__button {
    &--typing-game {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}
