@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  @include responsive-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-small * 2;

  &__title {
    font-size: $size-default * 1.25;
  }
}
