@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  @include page;

  @include tablet {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    gap: $size-default * 1.25;
  }
  @include desktop {
    gap: $size-large;
  }
  &__title {
    @include h1;

    @include tablet {
      grid-column: 1 / span 2;
      justify-self: center;
    }
  }

  &__input {
    grid-row: 3;
    grid-column: 2;
    align-self: start;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: $size-default;
    width: 100%;
    @include tablet {
      grid-row: 4;
      grid-column: 2;
      align-self: end;
      gap: $size-default;
      flex-direction: column;
      @include display-flex;
    }
    @include desktop {
      flex-direction: row;
    }
  }

  &__button {
    &--typing-game {
      display: block;

      @include tablet {
        display: block;
      }
    }
  }
}

.fish-bubble-game {
  @include tablet {
    grid-row: 3 / span 2;
  }
}
.fish-bubble-title {
  @include tablet {
    grid-row: 2;
  }
}
