@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.submit-score {
  // flex-grow: 1;
  // background-color: map-get($colors-secondary, background-neutral);
  @include page;
  @include display-flex;
  &__title {
    color: map-get($text-colors, primary);
    margin-bottom: $size-default;
  }

  p {
    margin: $size-small 0;
    color: map-get($text-colors, primary);
  }

  button {
    margin-top: $size-default;
    // background-color: map-get($colors-primary, interactive-elements);
    color: map-get($text-colors, global-text);
    border: none;
    padding: $size-default $size-large;
    border-radius: $size-small;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @include p1;

    &:hover {
      background-color: map-get($colors-primary, highlighted);
    }
  }

  &__score,
  &__player {
    @include h2;
  }

  &__status {
    margin-top: $size-small;
    font-weight: bold;
    color: map-get($colors-secondary, interactive-elements);
  }

  &__actions {
    align-self: stretch;
    @include tablet {
      gap: $size-default;
      @include display-flex;
    }
  }
}
